/* ******************GLOBAL STYLING**************************** */

body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: #4c4d52;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #4c4d52;
    text-align: center;
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 9vmin;
    font-weight: bold;
    letter-spacing: 4px;
    padding-top: 1%;
    height: 15%;
    width: 100%;
}

.main {
    font-size: 0;
}

.left,
.center,
.right,
.city,
.genre {
    display: inline-block;
}

.left,
.right {
    width: 20%;
    font-size: 10px;
}

.center {
    width: 60%;
    height: 100%;
    font-size: 10vmin;
}

/* ******************LANDING PAGE STYLING************************ */

.home {
    width: 100%;
    height: 100%;
}

.banner>img {
    width: 100%;
    border: 2px solid white;
}

.inputs {
    text-align: center;
}

input {
    height: 3vmin;
    border-radius: 3px;
    padding: 10px;
    width: 300px;
}

#searchGenre {
    width: 30vmin;
    height: 7vmin;
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
    font-family: 'Monoton', cursive;
    font-size: 3vmin;
}

#map {
    display: none;
    height: 500px;
    width: 500px;
}

.city,
.genre {
    font-size: 2vmin;
    color: white;
}

#city,
#genre {
    display: block;
}

#genre {
    font-size: 2vmin;
    width: 200px;
    padding: 14px;
    border-radius: 3px;
}

/* *****************EVENT RESULTS STYLING*************************** */

.event-results {
    width: 100%;
    height: 100%;
    padding-top: 2%;
}

.event-header {
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 6vmin;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

.event-header>p {
    font-size: 3vmin;
    text-align: right;
    padding-right: 10px;
}

.events-body {
    font-size: 2.5vmin;
    background-color: white;
    width: 100%;
    height: 100%;
}

.dark {
    background-color: coral
}

.light {
    background-color: white;
}

.left-event,
.center-event,
.right-event {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.right-event {
    text-align: right;
}

.center-event {
    display: inline-block;
    padding-left: 10px;
    width: 40%;
}

.left-event {
    width: 40%;
    padding-left: 2%;
}

.details {
    width: 12vmin;
    height: 7vmin;
    border-radius: 3px;
    background-color: white;
    font-size: 2vmin;
}

.btn-div {
    text-align: right;
}

#reset {
    width: 20vmin;
    height: 7vmin;
    border-radius: 3px;
    background-color: white;
    font-size: 2vmin;
}

/* *************************CONCERT DETAILS******************************* */

.concert-details {
    width: 100%;
    height: 100%;
    padding-top: 2%;
}

.concert-header {
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 6vmin;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

.concert-details-body {
    font-size: 2.5vmin;
    background-color: white;
    width: 100%;
    height: 100%;
}

.image-body {
    display: inline-block;
    margin-left: 2%;
}

.image-body>img {
    width: 200px;
}

.venue-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
}

.artist-name,
.venue,
.venue-address {
    padding: 3%;
    font-weight: bold;
}

span {
    font-weight: 400;
}

.date-time {
    text-align: center;
    padding: 5%;
}

.date,
.time {
    display: inline-block;
    font-weight: bold;
    margin-right: 10%;
}

#tickets {
    width: 20vmin;
    height: 7vmin;
    border-radius: 3px;
    background-color: white;
    font-size: 2vmin;
}

.search-nearby {
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 6vmin;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #4c4d52;
}

.left-btn {
    display: inline-block;
    text-align: left;
}

.right-btn {
    display: inline-block;
    text-align: right;
}

.search-btns {
    background-color: white;
    text-align: center;
}

#tickets {
    width: 20vmin;
    height: 7vmin;
    border-radius: 3px;
    background-color: white;
    font-size: 2vmin;
}

#restaurant,
#bar,
#lodging {
    width: 20vmin;
    height: 7vmin;
    border-radius: 3px;
    background-color: white;
    font-size: 2vmin;
    margin: 5%;
}

#results {
    width: 40vmin;
    height: 7vmin;
    border-radius: 3px;
    background-color: white;
    font-size: 2vmin;